.App {
  text-align: left;
  background-color: rgba(50, 115, 220, 0.6);
  width: 50%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  overflow-x: hidden;
  background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/59/61/3Jy5Fg.jpg);
  background-size: cover;
  background-repeat: repeat;
  padding: 0;
  margin: 0;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:50px; 
  background:#6cf;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 2%;
}

.updatelist {
  text-align: center;
  color: orangered;
}

.smurfsarray {
  text-align: center;
  color: white;
  margin: 10% 0;
}

.newsmurf {
  text-align: center;
  color: greenyellow;
  margin-bottom: 5%;
}

